* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #F3EDE5; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.button {
  background-color: #133416;
  color: #fff;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  width: 10rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: 0.5s ease; }
  .button:hover {
    background-color: #0c4410; }

.nav {
  width: 70%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 1600px) {
    .nav {
      width: 90%; } }
  @media only screen and (max-width: 1200px) {
    .nav {
      width: 96%; } }
  .nav__list {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 1200px) {
      .nav__list {
        width: 50%; } }
  .nav__link {
    color: black;
    opacity: 0.8;
    transition: 0.7s ease; }
    .nav__link:hover {
      opacity: 1; }
  .nav .nav__sign-in a:first-child {
    color: black;
    opacity: 0.8;
    margin-right: 1.25rem;
    transition: 0.7s ease; }
    .nav .nav__sign-in a:first-child:hover {
      opacity: 1; }

/* Hamburger menu start */
.header {
  height: 5rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Hamburger menu end */
.sec-contents {
  min-height: 35rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center; }
  .sec-contents__left {
    width: 45%; }
    @media only screen and (max-width: 1600px) {
      .sec-contents__left {
        width: 55%; } }
    @media only screen and (max-width: 1300px) {
      .sec-contents__left {
        width: 65%; } }
  .sec-contents__title {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 5rem; }
    .sec-contents__title span {
      color: orange; }
  .sec-contents__text {
    line-height: 1.5;
    padding: 1.3rem 0;
    opacity: 0.8;
    font-size: 1.2rem; }
  .sec-contents img {
    margin-top: 2rem;
    margin: 0 0.5rem; }
    .sec-contents img:first-child {
      margin-left: 1rem; }
  .sec-contents__right {
    width: 25%; }
    @media only screen and (max-width: 1600px) {
      .sec-contents__right {
        width: 30%; } }
    @media only screen and (max-width: 1300px) {
      .sec-contents__right {
        width: 32%; } }
  .sec-contents__hero {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }

.footer {
  min-height: 15rem;
  text-align: center; }
  .footer__text {
    padding: 3rem 0 1rem 0;
    color: black;
    opacity: 0.8;
    font-size: 1.2rem; }
  .footer img {
    width: 15rem;
    margin-right: 3rem; }
