.button {
    background-color: #133416;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 0.25rem;
    border: none;

    &:hover {
        background-color: #0c4410;
    }
}